[submodule "trustwallet/assets"]
	path = trustwallet/assets
	url = https://github.com/trustwallet/assets
[submodule "UCRegistry/assets"]
	path = UCRegistry/assets
	url = https://github.com/UCRegistry/asset-directory.git
