[submodule "asset-directory"]
	path = asset-directory
	url = https://github.com/UCRegistry/asset-directory.git
[submodule "trustwallet/assets"]
	path = trustwallet/assets
	url = https://github.com/trustwallet/assets.git
